.App{
  color: white;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

article{
  padding: 10px;
}

article:nth-child(2){
  grid-column: span 2;
}

article:nth-child(even){
  background: yellowgreen;
}

article:nth-child(odd){
  background:royalblue;
}
